.projectContainer {
  width: 100%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  font-family: "Righteous", cursive;
}

.projectContainer h3 {
  border-bottom: 2px solid rgb(10, 11, 16);
  padding-bottom: 1em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
}

.projectContainer h3:last-of-type {
  border-bottom: 2px solid rgb(99, 105, 133);
}

.projectContainer p {
  margin: 2em 0;
  font-weight: 300;
}

.wrap {
  display: grid;
  gap: 2em;
  margin: 1em auto;
}

@media only screen and (min-width: 700px) {
  .wrap {
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    margin: 2em auto;
    gap: 3em;
  }
}

.projectDescWrap {
  background-color: rgb(10, 11, 16);
}

.projectDesc {
  font-family: "Righteous", cursive;
  color: #fff;
  padding: 1em;
}

.projectDesc .links button {
  padding: 5px 10px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

.projectDesc .links button a {
  color: inherit;
}

.projectDesc .links button:first-child {
  background-color: rgb(203, 198, 198);
}

.projectDesc .links button:last-child {
  background-color: rgb(121, 153, 146);
}

.resume {
  background-color: #fff;
  color: #000;
  padding: 0.5rem 0.8rem;
  font-size: calc(0.5rem + 0.5vw);
  border-radius: 20px;
  font-weight: 700;
  margin-left: 1rem;
  margin-top: 1rem;
  transition: all 0.2s;
  cursor: pointer;
}

.resume:hover {
  background-color: rgb(203, 198, 198);
  transform: scale(1.1);
}

.resume:active {
  transform: scale(0.9);
}

@media only screen and (max-width: 40em) {
  .resume {
    font-size: calc(0.8rem + 0.4vw);
  }
}
